@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;

}

/* header section */


.container {
    background: #FFF;
    display: block;
    width: 570px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;

}

.head {
    font-size: 14px;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);

}

.title {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

/* Banner section */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

.banner-title {
    font-size: 18px;
}

.banner-decoration {
    font-size: 10px;
}

.button {
    width: 100px;
    height: 20px;
    font-size: 10px;
    border-radius: 4.1rem;
    background: #E02C6D;

}

.banner-img {
    margin: 30px 13px 0px 83px;
    background-image: url(../../images/Circle\ design-svg\ \(1\).png);
    background-size: 260px;
    background-position: center;


}

.banner-title {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Logo section  */
hr {
    color: #C0CCDA1A, #C0CCDA99, #C0CCDA1A;
    width: 510px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    width: 10px;
    height: 15px;
    gap: 30px;
}

/* Popular Collection  */

.Collection-title {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 70px;
    margin-left: 40%;

}

.collection-head {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 12px;
    color: Gray;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.Collection img {
    width: 177px;
    height: 177px;
    border-radius: 10px;
}

.Collection {
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 5px 2px 30px 2px rgba(0, 0, 0, 0.15);
}

.description {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: Gray;

}

.taka {
    color: #000000DE;
}

.fa-solid.fa-star.filled {
    margin-right: 5px;
}

.fa-solid.fa-star.filled {
    color: #FFC014;
}

.fa-regular.fa-star-half-stroke {
    color: #FFC014;
    margin-right: 15px;
}

.collection-head,
.description,
.taka {
    padding-left: 7px;
}

.See-More a {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    margin-left: 500px;
    color: #E02C6DDE;
}